@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  overflow-x: hidden;
}

/*------------------------------------------ Typography */
body {
  font-family: 'Lato', serif;
}

.font-highlight {
  font-family: 'IM Fell DW Pica SC', serif;
}

.icon-helmet {
  background-image: url('../icon/helmet.svg');
  background-repeat: no-repeat;
  display: inline-block;

}
.icon-helmet-size {
  height: 0.5em;
  width: 0.5em;
  margin-bottom: 0.1em;
}

/*------------------------------------------ Colors */
header {
  background-color: #dbc697;
}

/*------------------------------------------ Header & Navbar section */
.navbar {
  padding: 0 16px;
}

.navbar-brand {
  font-size: 8vw;
  text-transform: uppercase;
  letter-spacing: -0.3vw;
}

header ul {
  font-size: 16px;
  font-weight: 400;
  align-items: baseline;
}

.nav-item {
  margin-left: 8px;
}

header li:last-child {
  font-size: 24px;
}

.quote-text{
  display: block;
  text-align: center;
}

@media (min-width: 576px) {
  .navbar {
    padding-top: 0;
  }
  .navbar-brand {
    font-size: 6vw;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding-top: 0;
  }
  .navbar-brand {
    font-size: 4vw;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding-top: 20px;
    height: 90px;
  }
  .navbar-brand {
    font-size: 4vw;
  }
}

/*------------------------------------------ Hero section */

    /* Credits: Image sourced from Corporal--Nobbs on Devianart https://www.deviantart.com/corporal--nobbs/art/Malazan-World-Map-739391015/ */
.hero-image {
    background: 
        #755a3c
        url('../images/malazan-world-map.jpg')
        center / auto
        no-repeat;
    background-attachment: fixed;
    min-height: 670px;
    right:0;
    left:0;
    margin:0  !important;
}

.hero-text {
    background-color: #dbc69799;
    position: relative;
    /* top: 60px;
    padding: 30px 100px 30px 30px; */
    top:60px;
    margin:auto;

    text-align: center;
}

.hero-text > h1 {
  font-size: 46px;
}

img {
  max-height: 300px;
  max-width: 300px;
}


