@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  overflow-x: hidden;
}

/*------------------------------------------- Typography */
body {
  font-family: 'Lato', sans-serif;
}

.font-special {
  font-family: 'IM Fell DW Pica SC', serif;
}

.icon-helmet {
  background-image: url('../icon/helmet.svg');
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 0.1em;
}
.icon-helmet-sm {
  height: 0.5em;
  width: 0.5em;

}
.icon-helmet-lg {
  height: 5em;
  width: 5em;
}

/*------------------------------------------ Colors */
header {
  background-color: #dbc697;
}

/*------------------------------------------- Header & Navbar section */
.navbar {
  padding: 0 16px;
}
.navbar-collapse {
  display: flex;
}
.navbar-brand {
  padding-bottom: 0;
  line-height: 16px;
  font-size: 2rem;
  letter-spacing: -0.3vw;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  height: 30px;
  width: 30px;
}

.navbar-nav {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  align-items: baseline;
}

.nav-item {
  margin-left: 12px;
}

header .nav-item:last-child {
  font-size: 24px;
}

.navbar-quote {
  margin-bottom: 0;
  padding-left: 40px; /*come back after adjusting logo size*/
  display: inline-block;

  text-align: left;
}

/*------------------------------------------ Hero section */
    /* Credits: Image sourced from Corporal--Nobbs on Devianart https://www.deviantart.com/corporal--nobbs/art/Malazan-World-Map-739391015/ */
.hero-image {
  right:0;
  left:0;
  margin:0  !important;
  padding-top: 66px;
  background: 
        #755a3c
        url('../images/malazan-world-map.jpg')
        center / auto
        no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.hero-img-text-container {
  padding: 0;
}

.hero-text {
    background-color: #dbc69799;
    /*position: relative;
    /* top: 60px;
    padding: 30px 100px 30px 30px; 
    top:60px;*/
    margin:auto;
    text-align: center;
}

.hero-text > .icon-helmet {
  margin-top: 3em;
  margin-bottom: 1em;
}

.hero-text .font-highlight {
  font-size: 46px;
  letter-spacing: -1px;
}

.hero-text > h1 {
  font-size: 24px;
  letter-spacing: 2px;
}

img {
  max-height: 300px;
  max-width: 300px;
}

@media (min-width: 576px) {
  .navbar {
    padding-top: 0;
  }
  .navbar-brand {
    font-size: 2.5rem;
  }

  .navbar-quote {
    padding-left: 110px;
  }

  .hero-image {
    min-height: 80vh;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 3rem;
  }

  .navbar-quote {
    padding-left: 150px;
  }
  .hero-image{
    padding-top: 68px;
  }
}

@media (min-width: 992px) {
  .navbar-quote {
    padding-left: 175px;
  }
  .hero-image{
    padding-top: 78px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding-top: 16px;
  }
  .navbar-brand {
    font-size: 4rem;
  }

  .navbar-quote {
    padding-left: 330px;
  }
  .hero-image{
    padding-top: 96px;
    min-height: 82vh;
  }
}

