@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  overflow-x: hidden;
}

/*------------------------------------------- Typography */
body {
  font-family: 'Lato', sans-serif;
}

.font-special {
  font-family: 'IM Fell DW Pica SC', serif;
}

h3 {
  padding-bottom: 1rem;
  font-size: 2.25rem;
  text-transform: capitalize;
  text-align: center;
}

.lowercase {
  text-transform: lowercase;
}

.icon-helmet {
  background-image: url('../icon/helmet.svg');
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 0.1em;
}

.icon-helmet-sm {
  height: 0.5em;
  width: 0.5em;
}

.icon-helmet-md {
  height: 2.5em;
  width: 2.5em;
}

.icon-helmet-lg {
  height: 5em;
  width: 5em;
}

/*------------------------------------------ Colors */
header {
  background-color: #dbc697;
}
/*------------------------------------------ Box model */

/*------------------------------------------- Header & Navbar section */
.navbar {
  padding: 0 16px;
}

.navbar-brand {
  padding-bottom: 0;
  line-height: 16px;
  font-size: 2rem;
  letter-spacing: -0.3vw;
  text-transform: uppercase;
}

.navbar-toggler {
  margin-top: 15px;
  padding: 4px 6px;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.navbar-nav {
  margin-right: 25px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: right;
}

.nav-item {
  margin-left: 8px;
}

.nav-item:last-child {
  font-size: 1.5rem;
}

.nav-link {
  padding-bottom: 2px;
  line-height: 20px;
}

.navbar-quote {
  margin-bottom: 0;
  padding-left: 40px;
  display: inline-block;

  text-align: left;
}

/*------------------------------------------ Hero section */
    /* Credits: Image sourced from Corporal--Nobbs on Devianart https://www.deviantart.com/corporal--nobbs/art/Malazan-World-Map-739391015/ */
.hero-image {
  padding-top: 75px; 
  background: 
        #755a3c
        url('../images/malazan-world-map.jpg')
        center / auto
        no-repeat
        fixed;
  height: 100vh;
}

.container-fluid {
  padding: 0;
}

.hero-text {
  margin: 4vh 5vw;
  border: 5px solid #4b3a15ce;
  border-radius: 15px;
  background-color: #dbc597ce;
  text-align: center;
}

.hero-text > .icon-helmet {
  margin-top: 2em;
  margin-bottom: 1em;
}

.hero-text > h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.hero-text > a {
  margin-top: 2vh;
  margin-bottom: 3vh;
  border: 2px solid #4b3a15ce;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.hero-quote {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  text-align: justify;
}

.hero-quote > p:first-child {
  margin-bottom: 0;
}

.hero-quote > p:last-child {
  margin-left: 10vw;
  padding-bottom: 1vh;
}

.call-to-action {
  margin-top: 2vh;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
}

/*------------------------------------------ Authors section */
.authors {
  padding: 5vh 5vw;
  text-align: center;
}

.authors-container {
  padding-top: 4vh;
}

.author-img {
  height: 200px;
  width: 180px;
  border: 5px solid #4b3a15ce;
  padding: 5px;
  border-radius: 50%;
}

.authors h4 {
  padding-top: 3vh;
}

.authors p {
  text-align: justify;
  line-height: 1.2rem;
  padding-top: 1vh;
}

.authors strong {
  font-style: italic;
}

.authors abbr {
  font-weight: 900;
  text-decoration: none;
  border: none;
}

.author-helmet-icon {
  margin-top: 3vh;
  align-items: center;
  justify-content: center;
}

.vertical-line {
  border-left: 2px solid black; 
  height: 30%; 
  position:absolute; 
  left: 50%;
}

.top {
  bottom: 70%;
}

.bot {
  top: 70%;
}

/*------------------------------------------ Temporary */
img {
  max-height: 300px;
  max-width: 300px;
}

/*------------------------------------------ Media Queries */

@media (min-width: 576px) {
  .navbar-brand {
    font-size: 2.5rem;
  }
  .navbar-quote {
    padding-left: 110px;
  }
  .hero-image {
    height: 82vh;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 3rem;
  }
  .navbar-quote {
    padding-left: 150px;
  }
  .hero-text > a {
    margin-top: 0;
  }
  .hero-quote {
    margin-left: 10vw;
    margin-right: 30vw;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding-top: 16px;
  }
  .navbar-nav {
    margin-right: 5px;
  }
  .navbar-quote {
    padding-top: 2px;
    padding-left: 175px;
  }
  .hero-image{
    padding-top: 76px;
  }
  .hero-text {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .hero-quote {
    margin-right: 28vw;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    font-size: 4rem;
  }
  .navbar-nav {
    margin-right: 25px;
  }
  .nav-item {
    margin-left: 20px;
  }
  .navbar-quote {
    padding-left: 330px;
  }
  .hero-image{
    padding-top: 85px;
  }
  .hero-text {
    margin-top: 8vh;
  }
  .hero-text > h1 {
    font-size: 3rem;
  }
  .hero-text > a {
    font-size: 2rem;
  }
  .author-img {
    height: 250px;
    width: 230px;
  }
}
/*------------------------------------------ Carousel */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(50%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
  }
}
/* large - display 3 */
@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(33%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
  }
}
@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }
  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
i{
  color:black;
  font-size:1.5rem; 
}
