@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  overflow-x: hidden;
  margin-bottom: 100px;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

/*------------------------------------------- Typography */

/* family */
body {
  font-family: 'Lato', sans-serif;
}

h3,
.font-switch {
  font-family: 'IM Fell DW Pica SC', serif;
}

/* size */
.nav-item, 
.nav-btn,
.authors p {
  font-size: 1rem;
}

.hero-quote,
.collections p {
  font-size: 1.25rem;
}

.title-size, 
.nav-subscribe, 
.cto,
.subscribe-btn,
.carousel-icon {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.25rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

/* font weight */
.cto,
.hero-quote {
  font-weight: 300;
}

/* font style */
strong,
.hero-quote {
  font-style: italic;
}

/* letter spacing*/
.nav-item, 
.cto {
  letter-spacing: 1px;
}

/* line height */
.nav-link,
.hero-quote {
  line-height: 1.75rem;
}

/* align */
h3,
.hero-text,
.authors {
  text-align: center;
}

.hero-quote,
.authors p {
  text-align: justify;
}

/*text transform*/
h3,
.cto {
  text-transform: capitalize;
}

.lowercase,
.subscribe-btn {
  text-transform: lowercase;
}
/*------------------------------------------- Icons and Buttons, Border */

/* icons */
.icon-helmet {
  background-image: url('../icon/helmet.svg');
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 0.1em;
}

.icon-helmet-sm {
  height: 0.5em;
  width: 0.5em;
}

.icon-helmet-md {
  height: 2.5em;
  width: 2.5em;
}

.icon-helmet-lg {
  height: 5em;
  width: 5em;
}

.carousel-icon {
  height: 50px;
  width: 50px;
  padding: 8px;
  color:black;
  background-color: white; /*background-color*/
}

/* buttons */
.nav-btn {
  margin-top: 15px;
  padding: 4px 6px;
}

.subscribe-btn {
  margin-top: 1vh;
  margin-bottom: 5vh;
}

/* border */
.line {
  border: 1px solid #4b3a15ce; 
}

.btn,
.carousel-icon {
  border: 3px solid #4b3a15ce; 
}

.hero-text,
.author-img,
.collections-border {
  border: 5px solid #4b3a15ce;
}

.author-img,
.carousel-icon {
  border-radius: 50%;
}

.hero-text,
.collections-border {
  border-radius: 15px;
}

.btn {
  border-radius: 5px;
}
/*------------------------------------------- Colors */
header {
  background-color: #dbc697;
}

.hero-text {
  background-color: #dbc597ce;
}
/*------------------------------------------- Box model - resets */
.navbar {
  padding-top: 0;
}

.navbar, .navbar-brand {
  padding-bottom: 0;
}

.nav-quote,
.hero-quote > p:first-child {
  margin-bottom: 0;
}

h3 {
  padding-bottom: 5vh;
}
/*------------------------------------------- Header & Navbar section */
.navbar {
  padding-left: 16px;
  padding-right: 16px;
}

.navbar-brand {
  line-height: 1rem; /*line-height*//*only-one*/
  letter-spacing: -0.3vw;
  text-transform: uppercase; /*text-transform*//*only-one*/
}

.navbar-nav {
  margin-right: 25px;
  text-align: right; /*text-align*//*only-one*/
}

.nav-item {
  margin-left: 1vw;
}

.nav-subscribe {
  padding-bottom: 1vh;
}

.nav-link {
  padding-bottom: 2px;
}

.nav-quote {
  padding-left: 8vw;
}
/*------------------------------------------- Hero section */
.hero-img {
  /* Credits: Image sourced from Corporal--Nobbs on Devianart https://www.deviantart.com/corporal--nobbs/art/Malazan-World-Map-739391015/ */
  padding-top: 77px;
  position: relative;
  background: 
        #755a3c
        url('../images/malazan-world-map.jpg')
        center / cover
        no-repeat
        fixed;
  min-height: 100vh;
}

.hero-text {
  margin: 5vh 5vw 10vh 5vw;
  padding-bottom: 2vh;
}

.hero-text > .icon-helmet {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.hero-text > p {
  margin-top: 3vh;
}

.hero-quote {
  margin-left: 5vw;
  margin-right: 5vw;
}

.hero-quote > p:last-child {
  margin-left: 5vw;
  padding-bottom: 1vh;
}
/*------------------------------------------- Authors section */
.authors {
  padding: 5vh 5vw;
}

.author-img {
  height: 200px;
  width: 180px;
  padding: 5px;
}

.author-link:hover {
  text-decoration: none;
}

.author-name {
  margin-top: 3vh;
}

.authors p {
  padding-top: 0.5vh;
  padding-bottom: 2vh;
  line-height: 1.2rem; /*line-height*/
}

/*********************************************************************/
.authors abbr {
  font-weight: 900; /*font-weight*/
  text-decoration: none; /*text-decoration*/
  border: none; /*border*/
}
/*********************************************************************/

.author-helmet-icon {
  margin-top: -10vh;
  align-items: center; /*align-items*//*only one*/
  justify-content: center; /*justify-content*//*only one*/
}

.line {
  position:absolute;
  left: 50%;
}

.line-top {
  height: 30%; 
  bottom: 65%;
}

.line-bot {
  height: 40%; 
  top: 65%;
}
/*------------------------------------------- Collections section */
.collections {
  padding-left: 1vw;
  padding-right: 1vw;
}

.collections-border {
  padding-top: 5vh;
}

.collections p {
  padding-top: 2vh;
}

.collections img {
  height: 300px;
  width: 200px;
}
/*------------------------------------------- Testimonials */
.testimonials {
  padding: 2vh 5vw 7vh 5vw;
  text-align: center;
}

.testimonials img {
  height: 200px;
  width: 180px;
  border: 5px solid #4b3a15ce;
  padding: 5px;
  border-radius: 50%;
}

.testimonials p {
  line-height: 1.2rem;
  padding-top: 5vh;
}

.testimonials blockquote > p:first-child {
  font-style: italic;
  margin-bottom: 0;
}
.testimonials blockquote > p:last-child {
  margin-left: 20vw;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 5vh;
}

small {
  font-weight: 600;
}
.container-fluid abbr {
  font-weight: 900;
  text-decoration: none;
  border: none;
}

/*------------------------------------------- Footer & Social Links section*/
footer {
  display: flex;
 /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;*/
  background-color: #dbc697;
}

/*.social-links {
  background-color: #dbc697;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  margin-top: 50px;
}*/


/*------------------------------------------ Media Queries */

@media (min-width: 350px) {
  .title-size {
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  .title-size {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  .nav-quote {
    padding-left: 110px;
  }
  /* hero */
  .hero-img {
    min-height: 82vh;
  }
  .hero-quote > p:last-child {
    margin-left: 10vw;
  }
}

@media (min-width: 768px) {
  .title-size {
    font-size: 3rem;
  }
  .nav-quote {
    padding-left: 150px;
  }
  /* hero */
  .hero-quote {
    margin-left: 10vw;
    margin-right: 30vw;
  }
  .hero-text {
    margin-bottom: 5vh;
  }
  /* author */
  .authors {
    padding-top: 3vh;
    padding-bottom: 8vh;
  }
  h3 {
    padding-bottom: 10vh;
  }
  /***************/
  /* Testimonials */
  .testimonials blockquote > p:last-child {
    margin-left: 10vw;
  }
}

@media (min-width: 992px) {
  /* nav */
  .navbar {
    padding-top: 16px;
  }
  .navbar-nav {
    margin-right: 5px;
  }
  .nav-quote {
    padding-top: 2px;
    padding-left: 175px;
  }
  /* hero */
  .hero-img {
    padding-top: 89px;
  }
  .hero-text {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .hero-quote {
    margin-right: 20vw;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  .title-size {
    font-size: 4rem;
  }
  .subscribe-btn {
    font-size: 2rem;
  }
  /* nav */
  .navbar-nav {
    margin-right: 25px;
  }
  .nav-item {
    margin-left: 20px;
  }
  .nav-quote {
    padding-left: 330px;
  }
  /* hero */
  .hero-text {
    margin-top: 4vh;
    margin-bottom: 10vh;
  }
  .hero-quote {
    margin-right: 34vw;
  }
  /* author */
  .authors {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .author-img {
    height: 250px;
    width: 230px;
  }
}

/*------------------------------------------ Carousel Media Queries*/
/*Credits: Code snippet has been adapted from, note that is has been adjusted by me to suid my needs: https://www.jqueryscript.net/slider/responsive-bootstrap-carousel-multiple-items.html*/

@media (min-width: 576px) {
  /* icon */
  .fa-chevron-left {
    margin-left: 7vw;
  }
  .fa-chevron-right {
    margin-right: 7vw;
  }
  .collections p {
    font-size: 1.5rem;
  }
  .collections img {
    height: 400px;
    width: 260px;
  }
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(50%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
  }
  /*icon*/
  .fa-chevron-left {
    margin-left: 0;
    margin-bottom: 5vh;
  }
  .fa-chevron-right {
    margin-right: 0;
    margin-bottom: 5vh;
  }
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(33%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
  }
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }
  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

