@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  overflow-x: hidden;
  margin-bottom: 100px;
}

.container-fluid {
  /*padding: 0;*/
  overflow: hidden;
}

/*------------------------------------------- Typography */

  /* family */
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5,
.font-switch,
.book-items {
  font-family: 'IM Fell DW Pica SC', serif;
}

  /* size */
.nav-item, 
.nav-btn,
.collections p,
.social,
.title-text,
.book-items,
.book-content p {
  font-size: 1rem;
}

.content p,
.content a,
.authors p,
.title-content p {
  font-size: 1.1rem;
}

.hero-quote {
  font-size: 1.25rem;
}

h5,
.title-size, 
.nav-subscribe, 
.cto,
.subscribe-btn,
.carousel-icon {
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;;
}

h3, h2 {
  font-size: 2.25rem;
}

h1,
.book-content h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

  /* font weight */
.cto,
.hero-quote {
  font-weight: 300;
}

  /* font style */
strong,
.hero-quote,
.testimonials blockquote {
  font-style: italic;
}

  /* letter spacing*/
.nav-item, 
.cto {
  letter-spacing: 1px;
}

.title-content h1 {
  letter-spacing: 3px;
}

  /* line height */
.nav-link,
.hero-quote {
  line-height: 1.75rem;
}
.author-center {
  line-height: 0;
}
.title-content,
.content-author p,
.book-info {
  line-height: 1.25rem;
}

.drop-book-list-ian,
.drop-book-list-steven {
  line-height: 0.75rem;
}

  /* align */
h3, h2, h4, h5,
.hero-text,
.authors,
.testimonials,
.social,
.social-helmet,
.title-content,
.content-reading-order p,
.author-center,
.authors-video,
.book-cover {
  text-align: center;
}

.hero-quote,
.authors p,
.testimonials p,
.title-text,
.content-author p,
.book-info {
  text-align: justify;
}

  /*text transform*/
h3,
.cto,
.title-content h1 {
  text-transform: capitalize;
}

h2,
.lowercase,
.subscribe-btn {
  text-transform: lowercase;
}

  /* special elements */
abbr {
  font-weight: 900;
  text-decoration: none !important;
}

small {
  font-weight: 600;
}
/*------------------------------------------- Icons and Buttons, Border */

  /* icons */
.icon-helmet {
  background-image: url('../icon/helmet.svg');
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 0.1em;
}

.icon-helmet-sm {
  height: 0.5em;
  width: 0.5em;
}

.icon-helmet-md {
  height: 2.5em;
  width: 2.5em;
}

.icon-helmet-lg {
  height: 5em;
  width: 5em;
}

.carousel-icon {
  height: 50px;
  width: 50px;
  padding: 8px;
  color:black;
  background-color: white; /*background-color*/
}

  /* buttons */
.nav-btn {
  margin-top: 15px;
  padding: 4px 6px;
}

.subscribe-btn {
  margin-top: 1vh;
  margin-bottom: 5vh;
}

  /* border */
.line,
.list-group-item,
.spy-container hr {
  border: 1px solid #4b3a15ce; 
}

.btn,
.carousel-icon,
.spy-container img,
.book-items {
  border: 3px solid #4b3a15ce; 
}

.hero-text,
.author-img,
.collections-border,
.testimonials img,
.content-author-img,
.book-title hr {
  border: 5px solid #4b3a15ce;
}

.author-img,
.carousel-icon,
.testimonials img,
.content-author-img {
  border-radius: 50%;
}

.hero-text,
.collections-border {
  border-radius: 15px;
}

.btn, .spy-container img {
  border-radius: 5px;
}

  /* line */
  .line {
    position: absolute;
  }
  
  .line-top {
    height: 30%; 
    bottom: 65%;
    left: 50%;
  }
  
  .line-bot {
    height: 40%; 
    top: 65%;
    left: 50%;
  }

  .line-horizontal {
    width: 70%;
    left: 15%;
  }

  .line-vertical {
    height: 40%;
    left: 50%;
    bottom: 30%;
  }
/*------------------------------------------- Colors */
header, footer {
  background-color: #dbc697;
}

.hero-text {
  background-color: #dbc597ce;
}
/*------------------------------------------- Box model - resets */
.navbar {
  padding-top: 0;
}

.navbar, .navbar-brand {
  padding-bottom: 0;
}

.nav-quote,
.hero-quote > p:first-child,
.user-quote,
.social p {
  margin-bottom: 0;
}

h3 {
  padding-bottom: 5vh;
}
/*------------------------------------------- Header & Navbar section */
.navbar {
  padding-left: 16px;
  padding-right: 16px;
}

.navbar-brand {
  line-height: 1rem; /*line-height*//*only-one*/
  letter-spacing: -0.3vw;
  text-transform: uppercase; /*text-transform*//*only-one*/
}

.navbar-nav {
  margin-right: 25px;
  text-align: right; /*text-align*//*only-one*/
}

.nav-item {
  margin-left: 1vw;
}

.nav-subscribe {
  padding-bottom: 1vh;
}

.nav-link {
  padding-bottom: 2px;
}

.nav-quote {
  padding-left: 8vw;
}
/*------------------------------------------- Hero section */
.hero-img {
  /* Credits: Image sourced from Corporal--Nobbs on Devianart https://www.deviantart.com/corporal--nobbs/art/Malazan-World-Map-739391015/ */
  padding-top: 77px;
  position: relative;
  background: 
        #755a3c
        url('../images/malazan-world-map.jpg')
        center / cover
        no-repeat
        fixed;
  min-height: 100vh;
}

.hero-text {
  margin: 5vh 5vw 10vh 5vw;
  padding-bottom: 2vh;
}

.hero-text > .icon-helmet {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.hero-text > p {
  margin-top: 3vh;
}

.hero-quote {
  margin-left: 5vw;
  margin-right: 5vw;
}

.hero-quote > p:last-child {
  margin-left: 5vw;
  padding-bottom: 1vh;
}
/*------------------------------------------- Authors section */
.authors {
  padding: 5vh 5vw;
}

.author-img {
  height: 200px;
  width: 180px;
  padding: 5px;
}

.author-link:hover {
  text-decoration: none;
}

.author-name {
  margin-top: 3vh;
}

.authors p {
  padding-top: 0.5vh;
  padding-bottom: 2vh;
  line-height: 1.2rem; /*line-height*//*only one*/
}

.author-helmet-icon {
  margin-top: -10vh;
  align-items: center; /*align-items*//*only one*/
  justify-content: center; /*justify-content*//*only one*/
}
/*------------------------------------------- Collections section */
.collections {
  padding-left: 1vw;
  padding-right: 1vw;
}

.collections-border {
  padding-top: 5vh;
}

.collections p {
  padding-top: 2vh;
}

.collections img {
  height: 300px;
  width: 200px;
}
/*------------------------------------------- Testimonials */
.testimonials {
  padding: 2vh 10vw 5vh 10vw;
}

.testimonials img {
  height: 200px;
  width: 180px;
  padding: 5px;
}

.testimonials p {
  font-size: 1.15rem; /*font-size*//*only one*/
  line-height: 1.3rem; /*line-height*//*only one*/
}

.user-quote {
  padding-top: 5vh;
}

.testimonials blockquote > p:last-child {
  margin-left: 20vw;
  padding-top: 0;
  margin-top: 0;
}
/*------------------------------------------- Footer & Social Links section */
.social-links {
  letter-spacing: 2px; /*letter-spacing*//*only one*/
}

.social-helmet {
  font-size: 0.5rem; /*font-size*//*only-one*/
}
.social-helmet > .icon-helmet {
  margin-top: 35%;
}
/*------------------------------------------------------------------------------------------------------- HTML PAGES */
/*------------------------------------------- TITLE content */
.title-content {
  padding: 100px 3vw 5vh 3vw;
}
.title-content h1 {
  padding-bottom: 2vh;
}
/*------------------------------------------- Content */
.content {
  padding: 0 3vw 2vh 3vw;
}

.content p {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

ol {
  list-style-position: inside;
  list-style-type: upper-roman;
  padding-left: 35%;
}

ol li:last-child {
  padding-bottom: 2vh;
}

.content-reading-order p:last-child {
  padding-left: 35%;
}

.content-author h2 {
  padding-top: 2vh;
}

.author-center {
  padding-bottom: 2vh;
  padding-top: 10vh;
}

.content-author-img {
  height: 350px;
  width: 300px;
  padding: 5px;
}

.book-list {
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.btn-book-list {
  width: 100%;
}

.drop-book-list-steven,
.drop-book-list-ian {
  width:100%;
}
/*------------------------------------------- Video */
.authors-video {
  padding-bottom: 5vh;
}

.authors-video h4 {
  padding-bottom: 2vh;
  padding-top: 2vh;
}

iframe {
  width: 250px;
  height: 140px;
}
/*------------------------------------------- Books */
.book-content {
  width: 95vw;
  padding-bottom: 2vh;
}

.book-title {
  padding-bottom: 5vh;
}

.list-group-item {
  padding-left: 2px;
  padding-right: 0;
}


.book-items {
  height: 60vh;
  overflow-y: scroll;
  width: min-content;
}


.spy-container {
  height: 60vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  position: relative;  
}
.spy-container > p {
  margin-bottom: 0vh;
}

.isbn {
  padding-bottom: 4vh;
  }

.spy-container img {
  max-height: 250px;
  max-width: 150px;
}

.book-cover {
  padding-bottom: 3vh;
}

.book-info {
  padding-bottom: 5vh;
}

.book {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*------------------------------------------ Media Queries */
  /*------------- xs devices */
@media (min-width: 350px) {
  .title-size {
    font-size: 2rem;
  }
}

  /*------------- sm devices */
@media (min-width: 576px) {
  .title-size {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  .nav-quote {
    padding-left: 110px;
  }
  /* hero */
  .hero-img {
    min-height: 82vh;
  }
  .hero-quote > p:last-child {
    margin-left: 10vw;
  }
  /* testimonials*/
  .testimonials p {
    text-align: center;
  }
  .user-quote {
    padding-top: 3vh;
  }
  /*footer*/
  .social-helmet {
    margin-top: 0.5vh;
  }
  .social-helmet > .icon-helmet {
    margin-top: 0;
  }
  .author-left,
  .author-right {
    margin-top: 0.5vh;
  }
  .author-left,
  .rtl {
    text-align: end;
  }
  .author-right {
    text-align: start;
  }
  .rtl {
    direction: rtl;
  }
  .social-links {
    padding: 0;
    margin: 0;
  }
  /******** aside from index.html */
  .title-content {
  padding-top: 125px;
  }
  .author-center {
    padding-top: 2vh;
  }
  .content-author-img {
    height: 400px;
    width: 350px;
  }
  iframe {
    width: 500px;
    height: 315px;
  }
  .list-group-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .book-items {
    font-size: 1.3rem;
  }
  .spy-container img {
    max-height: 350px;
    max-width: 200px;
  }
  .book-content p {
    font-size: 1.1rem;
  }
}

  /*------------- md devices */
@media (min-width: 768px) {
  .title-size {
    font-size: 3rem;
  }
  .nav-quote {
    padding-left: 150px;
  }
  /* hero */
  .hero-quote {
    margin-left: 10vw;
    margin-right: 30vw;
  }
  .hero-text {
    margin-bottom: 5vh;
  }
  /* author */
  .authors {
    padding-top: 3vh;
    padding-bottom: 8vh;
  }
  h3 {
    padding-bottom: 10vh;
  }
  /* testimonials */
  .testimonials {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
  }
  .testimonials blockquote > p:last-child {
    margin-left: 5vw;
  }
  /******** aside from index.html */
  /* title */
  .title-content {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .title-content h1 {
    letter-spacing: 10px;
  }
  /* content */
  .content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .drop-book-list-steven {
    width:200%;
  }
  .content-author-img {
    height: 300px;
    width: 250px;
  }
  .author-center {
    padding-bottom: 7vh;
    padding-top: 5vh;
  }
  iframe {
    width: 350px;
    height: 195px;
  }
  .book-items {
    width: auto;
  }
}

  /*------------- lg devices */
@media (min-width: 992px) {
  /* nav */
  .navbar {
    padding-top: 16px;
  }
  .navbar-nav {
    margin-right: 5px;
  }
  .nav-quote {
    padding-top: 2px;
    padding-left: 175px;
  }
  /* hero */
  .hero-img {
    padding-top: 89px;
  }
  .hero-text {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .hero-quote {
    margin-right: 20vw;
  }
  /* testimonials */
  .testimonials {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  /******** aside from index.html */
  /* title */
  .title-content {
  padding-bottom: 7vh;
  }
  .title-text {
    text-align: center;
  }
  /* content */
  .content-reading-order {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .drop-book-list-steven {
    width:170%;
  }
  .author-center {
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
  .content-author-img {
    height: 400px;
    width: 350px;
  }
  iframe {
    width: 450px;
    height: 250px;
  }
}

  /*------------- xl devices */
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  .title-size {
    font-size: 4rem;
  }
  .subscribe-btn {
    font-size: 2rem;
  }
  /* nav */
  .navbar-nav {
    margin-right: 25px;
  }
  .nav-item {
    margin-left: 20px;
  }
  .nav-quote {
    padding-left: 330px;
  }
  /* hero */
  .hero-text {
    margin-top: 4vh;
    margin-bottom: 10vh;
  }
  .hero-quote {
    margin-right: 34vw;
  }
  /* author */
  .authors {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .author-img {
    height: 250px;
    width: 230px;
  }
  /* testimonials */
  .testimonials {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
  }
  .testimonials img {
    height: 250px;
    width: 220px;
  }
  .user-quote {
    padding-top: 5vh;
  }
  /******** aside from index.html */
  .title-content {
    padding-left: 15vw;
    padding-right: 15vw;
    }
  /* content */
  .content {
    padding-bottom: 5vh;
  }
  .drop-book-list-steven {
    width: 150%;
  }
  iframe {
    width: 500px;
    height: 315px;
  }
}

  /*------------- extra xl devices */
  @media (min-width: 1600px) {
    .drop-book-list-steven {
      width: 100%;
    }
  }
/*------------------------------------------ Carousel Media Queries*/
/*Credits: Code snippet has been adapted from, note that is has been adjusted by me to suid my needs: https://www.jqueryscript.net/slider/responsive-bootstrap-carousel-multiple-items.html*/

@media (min-width: 576px) {
  /* icon */
  .fa-chevron-left {
    margin-left: 7vw;
  }
  .fa-chevron-right {
    margin-right: 7vw;
  }
  .collections p {
    font-size: 1.5rem;
  }
  .collections img {
    height: 400px;
    width: 260px;
  }
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(50%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
  }
  /*icon*/
  .fa-chevron-left {
    margin-left: 0;
    margin-bottom: 5vh;
  }
  .fa-chevron-right {
    margin-right: 0;
    margin-bottom: 5vh;
  }
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(33%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
  }
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }
  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
/************************************AUTHOR ****************************/
footer {
  width: 100vw;
}
.author-center:hover{
  /* transform: scale(1.2); */
  -webkit-animation: scale-down-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-down-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-3-22 21:59:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2021-3-22 22:1:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/************************************form ****************************/
.hero-img-form{
  padding:0;
}
.form-wrapper{
  position: relative;  
  width:100%;
  height:100%;  
  padding:30px 0;
}
.signup-form{  
  position: relative;
  width:330px;  
  margin:auto; 
  border: 5px solid #4b3a15ce; 
  background-color: #dbc597ce;
  padding:30px; 
}
.form-buttons{
  position:absolute;
right:0;
}